
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/theme/dracula.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js" integrity="sha512-CSBhVREyzHAjAFfBlIBakjoRUKp5h7VSweP0InR/pAJyptH7peuhCsqAI/snV+TwZmXZqoUklpXp6R6wMnYf5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/mode/yaml/yaml.min.js" integrity="sha512-+aXDZ93WyextRiAZpsRuJyiAZ38ztttUyO/H3FZx4gOAOv4/k9C6Um1CvHVtaowHZ2h7kH0d+orWvdBLPVwb4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/fold/foldcode.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/fold/foldgutter.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/addon/fold/indent-fold.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
 body {
     background: #232323; color: white;
     font-family: system-ui
 }
 .CodeMirror {
     height: auto;
 }
 .CodeMirror-scroll {
     height: auto;
     max-height: 66vh;
 }
 .errmark {width: .8em;}
 .errline {background-color: #711;}
</style>
<h1>Crossplane playground</h1>
<table>
    <tr>
        <td>
<form method="POST" id="form">
    <h3>Composite resource:</h3>
    <textarea id="compositeResource" name="compositeResource" cols="90">
{{ .CompositeResource }}</textarea>
        <br />
    <h3>Composition:</h3>
    <textarea id="composition" name="composition" rows="30" cols="90">
{{ .Composition }}</textarea>
    <br />
    <input type="submit">
</form>
        </td>
        <td style="vertical-align:top">
            {{if .POST}}
            <h3>Rendered resources:</h3>
            {{end}}


            <textarea id="response" name="response" rows="30" cols="90">
{{ .Response }}</textarea>

            <pre id="error">
{{ .Error }}
            </pre>
        </td>
    </tr>
</table>

<script>
 function checkYAML(editor) {
     editor.clearGutter('errmark')

     for (var i = 0; i < editor.lineCount(); i++) {
         editor.removeLineClass(i, 'background')
     }
     try {
         jsyaml.loadAll(editor.getValue());
     } catch(e) {
         const makeMarker = () => {
             var marker = document.createElement('div');
             marker.style.color = "#822"
             marker.innerHTML = "&#x2718;"
             return marker
         }
         if (e.mark) {
             editor.setGutterMarker(e.mark.line, 'errmark', makeMarker())
             editor.addLineClass(e.mark.line, 'background', 'errline')
         }
     }
 }

 var editorCR = CodeMirror.fromTextArea(document.getElementById("compositeResource"), {
     theme: "dracula",
     mode: "text/x-yaml",
     foldGutter: true,
     extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
     gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", 'errmark'],
     lineNumbers: true
 });
 var editorC = CodeMirror.fromTextArea(document.getElementById("composition"), {
     theme: "dracula",
     mode: 'text/x-yaml',
     foldGutter: true,
     extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
     gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", 'errmark'],
     lineNumbers: true
 });

 var editorResp = CodeMirror.fromTextArea(document.getElementById("response"), {
     theme: "dracula",
     mode: 'text/x-yaml',
     foldGutter: true,
     extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
     gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", 'errmark'],
     lineNumbers: true
 });

 function change(instance, changeObj) {
     checkYAML(instance)
     const payload = new URLSearchParams();
     payload.append('compositeResource', editorCR.getValue())
     payload.append('composition', editorC.getValue())

     fetch("/", {
         body: payload,
         headers: {
             "Content-Type": "application/x-www-form-urlencoded",
             "Accept": "application/json",
         },
         method: "post",
     })
         .then((response) => response.json())
         .then((data) => {
             editorResp.setValue(data.Response)
             document.getElementById('error').innerHTML = data.Error
         });
 }

 editorCR.on("change", change)
 editorC.on("change", change)

</script>
